p {
    font-family: Lato;
  }
.poliza{
    color: #94aede;
    margin-bottom: 0%
}

.divStepper{
    background-color: #87a4d9;
}

.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}

.matCard{
    background-color: #87a4d9;
    color:white
}